@model IEnumerable<Checkpoint1.Models.Appointment>

@{
    ViewData["Title"] = "View";
}

<h2>Appointments</h2>
<p style="color: red;">
    @ViewBag.message
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var a in Model) {
    @foreach (var c in ViewBag.Customers)
    {
        if (c.CustomerId == a.CustomerId)
        {
            a.Customer = c;
        }
    }
        <tr>
            <td>
                <h3>@Html.DisplayFor(modelItem => a.Customer.FullName) on @Html.DisplayFor(modelItem => a.Day) at @Html.DisplayFor(modelItem => a.Time) with @Html.DisplayFor(modelItem => a.ServiceProvider.FullName)</h3>
                <br />
                @Html.ActionLink("Delete", "Delete", new { AppointmentId = a.AppointmentId })
            </td>
        </tr>
}
    </tbody>
</table>