@model IEnumerable<Checkpoint1.Models.Appointment>

@{
    ViewData["Title"] = "View";
}

<h2>Appointments</h2>
<p style="color: red;">
    @ViewBag.message
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Checkpoint1.Models.Appointment a in Model) {
        <tr>
            <td>
                <h3>@a.CustomerFullName on @a.Day at @a.Time with @a.ServiceProviderFullName</h3>
                <br />
                @Html.ActionLink("Delete", "Delete", new { id=a.Id })
            </td>
        </tr>
}
    </tbody>
</table>